<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Association of Syrian Pharmacists</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            font-size: 16px;
            line-height: 1.4;
            color: #000;
            padding: 20px;
            max-width: 210mm;
            margin: 0 auto;
            background-color: #fff;
        }

        .header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;
            border-bottom: 2px solid #000;
            padding-bottom: 10px;
        }

        .header-center {
            text-align: center;
            flex: 1;
        }

        .header-title-en {
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 5px;
            direction: ltr;
        }

        .header-title-ar {
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 5px;
        }

        .header-details {
            font-size: 14px;
        }

        .bank-info {
            margin-bottom: 15px;
        }

        .bank-instruction {
            margin-bottom: 10px;
            text-align: right;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            border: 1px solid #000;
            font-size: 14px;
            margin-bottom: 10px;
        }

        th,
        td {
            border: 1px solid #000;
            padding: 5px;
            text-align: right;
        }

        .center-align {
            text-align: center;
        }

        .signature {
            margin-bottom: 20px;
            text-align: right;
        }

        .section-header {
            margin-top: 10mm;
            margin-bottom: 5mm;
            direction: rtl;
            text-align: right;
        }

        .red-bold {
            color: #d00;
            font-weight: bold;
        }

        .small-text {
            font-size: 12px;
        }

        .table-header {
            background-color: #f0f0f0;
            font-size: 12px;
            text-align: center;
        }

        .highlighted {
            color: #d00;
            text-decoration: underline;
        }

        .contact-info {
            display: flex;
            justify-content: space-between;
            font-size: 12px;
            border-top: 1px solid #000;
            padding-top: 10px;
            direction: ltr;
        }
    </style>
</head>

<body>
    <!-- Header Section -->
    <div class="header">
        <div class="header-center">
            <div class="header-title-en">ASSOCIATION OF SYRIAN PHARMACISTS</div>
            <div class="header-title-ar">نقابة صيادلة سورية</div>
            <div class="header-details"> <pre>     <label style="font-weight: 800;">تاريخ الطباعة</label>: {{createdAt}}      <label style="font-weight: 800;">تاريخ آخر تسديد</label>: {{lastTimePaid}}</pre></div>
        </div>
    </div>



    <!-- Bank Information Section -->
    <div class="bank-info">
        <div class="bank-instruction">
            <span>الى بنك سورية الدولي الاسلامي يرجى استيفاء الرسوم كما يلي:</span>
        </div>

        <table>
            <tbody>
                <tr>
                    <td >الاسم الأول: {{firstName}}</td>
                    <td>الكنية : {{lastName}}</td>
                </tr>
                <tr>
                    <td>اســــــم الأب: {{fatherName}}</td>
                    <!-- <td>محمد زهير</td> -->
                    <td colspan="2">اسم الأم : {{motherName}}</td>
                </tr>
                <tr>
                    <td>مكـــــان الولادة: {{birthPlace}}</td>
                    <td colspan="3">تاريخ الولادة: {{birthDate}}</td>
                    
                </tr>
                <tr>
                    <td colspan="2">نوع الرسم: {{syndicateMembership}}</td>
                    <td>الجنس: {{gender}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Financial Tables Section -->
    <div style="margin-bottom: 15px;">
        <table>
            <tbody>
                <tr>
                    <td>حساب نقابة صيادلة سورية رقم 209999 جاري</td>
                    <td class="center-align" data-section="صندوق النقابة" data-section-total="true"></td>
                </tr>
                <tr>
                    <td>حساب خزانة تقاعد صيادلة سورية رقم 203333 جاري</td>
                    <td class="center-align" data-section="خزانة التقاعد" data-section-total="true"></td>
                </tr>
                <tr>
                    <td>حساب صندوق اعانة العجز والرفاة اصيادلة سورية رقم 207777 جاري</td>
                    <td class="center-align" data-section="صندوق إعانة العجز و الوفاة" data-section-total="true"></td>
                </tr>
                <tr>
                    <td>حساب التكافل الصحي لصيادلة سورية رقم 205550 جاري</td>
                    <td class="center-align" data-section="خزانة التكافل الصحي" data-section-total="true"></td>
                </tr>
                <tr>
                    <td>المجموع النهائي:</td>
                    <td class="center-align" data-total-all-sections="true"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Signature Section -->
    <div class="signature">
        <div style="margin-bottom: 5mm;">توقيع الموظف : {{employee_name}}</div>
    </div>

    <!-- Second Section Header -->
    <div class="section-header" style="margin-top: -10px;">
        <span class="red-bold">جـــــــــــــــرد أولي</span>
        <br>
        <span class="small-text"><pre><label style="font-weight: 800;">تاريخ الطباعة</label> : {{createdAt}}     <label style="font-weight: 800;">نوع الرسم</label> : {{syndicateMembership}}    <label style="font-weight: 800;">اسم الصيدلي</label> : {{fullName}}</pre></span>
        <span class="small-text"><pre><label style="font-weight: 800;">دليل الفاتورة</label> : {{invoiceID}}     <label style="font-weight: 800;">حالة الفاتورة</label> : {{status}} </pre></span>
    </div>

    <!-- Detailed Financial Table 1 -->
    <table style="font-size: 10px; margin-bottom: 10px;">
        <thead>
            <tr>
                <th class="table-header">حساب توفير</th>
                <th class="table-header" data-section="صندوق النقابة" data-number="1"></th>
                <th class="table-header" data-section="صندوق النقابة" data-number="2"></th>
                <th class="table-header" data-section="صندوق النقابة" data-number="3"></th>
                <th class="table-header" data-section="صندوق النقابة" data-number="4"></th>
                <th class="table-header" data-section="صندوق النقابة" data-number="5"></th>
                <th class="table-header" data-section="صندوق النقابة" data-number="6"></th>
                <th class="table-header" data-section="صندوق النقابة" data-number="7"></th>
                <th class="table-header" data-section="صندوق النقابة" data-number="8"></th>
                <th class="table-header" data-section="صندوق النقابة" data-number="9"></th>
                <th class="table-header" data-section="صندوق النقابة" data-number="10"></th>
                <th class="table-header" data-section="صندوق النقابة" data-number="11"></th>
                <th class="table-header" data-section="صندوق النقابة" data-number="12"></th>
                <th class="table-header" data-section="صندوق النقابة" data-number="13"></th>
                <th class="table-header" data-section="صندوق النقابة" data-number="14"></th>
                <th class="table-header" data-section="صندوق النقابة">النهائي</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="center-align"></td>
                <td class="center-align" data-section="صندوق النقابة" data-value="true" data-number="1"></td>
                <td class="center-align" data-section="صندوق النقابة" data-value="true" data-number="2"></td>
                <td class="center-align" data-section="صندوق النقابة" data-value="true" data-number="3"></td>
                <td class="center-align" data-section="صندوق النقابة" data-value="true" data-number="4"></td>
                <td class="center-align" data-section="صندوق النقابة" data-value="true" data-number="5"></td>
                <td class="center-align" data-section="صندوق النقابة" data-value="true" data-number="6"></td>
                <td class="center-align" data-section="صندوق النقابة" data-value="true" data-number="7"></td>
                <td class="center-align" data-section="صندوق النقابة" data-value="true" data-number="8"></td>
                <td class="center-align" data-section="صندوق النقابة" data-value="true" data-number="9"></td>
                <td class="center-align" data-section="صندوق النقابة" data-value="true" data-number="10"></td>
                <td class="center-align" data-section="صندوق النقابة" data-value="true" data-number="11"></td>
                <td class="center-align" data-section="صندوق النقابة" data-value="true" data-number="12"></td>
                <td class="center-align" data-section="صندوق النقابة" data-value="true" data-number="13"></td>
                <td class="center-align" data-section="صندوق النقابة" data-value="true" data-number="14"></td>
                <td class="center-align" data-section="صندوق النقابة" data-final="true"></td>

            </tr>
        </tbody>
    </table>


    <!-- Detailed Financial Table 2 -->
    <table style="font-size: 10px; margin-bottom: 10px;">
        <thead>
            <tr>
                <th class="table-header">حساب توفير</th>
                <th class="table-header" data-section="خزانة التقاعد" data-number="1"></th>
                <th class="table-header" data-section="خزانة التقاعد" data-number="2"></th>
                <th class="table-header" data-section="خزانة التقاعد" data-number="3"></th>
                <th class="table-header" data-section="خزانة التقاعد" data-number="4"></th>
                <th class="table-header" data-section="خزانة التقاعد" data-number="5"></th>
                <th class="table-header" data-section="خزانة التقاعد" data-number="6"></th>
                <th class="table-header" data-section="خزانة التقاعد" data-number="7"></th>
                <th class="table-header" data-section="خزانة التقاعد" data-number="8"></th>
                <th class="table-header" data-section="خزانة التقاعد" data-number="9"></th>
                <th class="table-header" data-section="خزانة التقاعد" data-number="10"></th>
                <th class="table-header" data-section="خزانة التقاعد" data-number="11"></th>
                <th class="table-header" data-section="خزانة التقاعد" data-number="12"></th>
                <th class="table-header" data-section="خزانة التقاعد" data-number="13"></th>
                <th class="table-header">النهائي</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="center-align"></td>
                <td class="center-align" data-section="خزانة التقاعد" data-value="true" data-number="1"></td>
                <td class="center-align" data-section="خزانة التقاعد" data-value="true" data-number="2"></td>
                <td class="center-align" data-section="خزانة التقاعد" data-value="true" data-number="3"></td>
                <td class="center-align" data-section="خزانة التقاعد" data-value="true" data-number="4"></td>
                <td class="center-align" data-section="خزانة التقاعد" data-value="true" data-number="5"></td>
                <td class="center-align" data-section="خزانة التقاعد" data-value="true" data-number="6"></td>
                <td class="center-align" data-section="خزانة التقاعد" data-value="true" data-number="7"></td>
                <td class="center-align" data-section="خزانة التقاعد" data-value="true" data-number="8"></td>
                <td class="center-align" data-section="خزانة التقاعد" data-value="true" data-number="9"></td>
                <td class="center-align" data-section="خزانة التقاعد" data-value="true" data-number="10"></td>
                <td class="center-align" data-section="خزانة التقاعد" data-value="true" data-number="11"></td>
                <td class="center-align" data-section="خزانة التقاعد" data-value="true" data-number="12"></td>
                <td class="center-align" data-section="خزانة التقاعد" data-value="true" data-number="13"></td>
                <td class="center-align" data-section="خزانة التقاعد" data-final="true"></td>

            </tr>
        </tbody>
    </table>

    <!-- Detailed Financial Table 3 -->
    <table style="font-size: 10px; margin-bottom: 10px;">
        <thead>
            <tr>
                <th class="table-header">حساب توفير</th>
                <th class="table-header" data-section="صندوق إعانة العجز و الوفاة" data-number="1"></th>
                <th class="table-header" data-section="صندوق إعانة العجز و الوفاة" data-number="2"></th>
                <th class="table-header" data-section="صندوق إعانة العجز و الوفاة" data-number="3"></th>
                <th class="table-header" data-section="صندوق إعانة العجز و الوفاة" data-number="4"></th>
                <th class="table-header" data-section="صندوق إعانة العجز و الوفاة" data-number="5"></th>
                <th class="table-header" data-section="صندوق إعانة العجز و الوفاة" data-number="6"></th>
                <th class="table-header" data-section="صندوق إعانة العجز و الوفاة" data-number="7"></th>
                <th class="table-header" data-section="صندوق إعانة العجز و الوفاة" data-number="8"></th>
                <th class="table-header">النهائي</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="center-align"></td>
                <td class="center-align" data-section="صندوق إعانة العجز و الوفاة" data-value="true" data-number="1"></td>
                <td class="center-align" data-section="صندوق إعانة العجز و الوفاة" data-value="true" data-number="2"></td>
                <td class="center-align" data-section="صندوق إعانة العجز و الوفاة" data-value="true" data-number="3"></td>
                <td class="center-align" data-section="صندوق إعانة العجز و الوفاة" data-value="true" data-number="4"></td>
                <td class="center-align" data-section="صندوق إعانة العجز و الوفاة" data-value="true" data-number="5"></td>
                <td class="center-align" data-section="صندوق إعانة العجز و الوفاة" data-value="true" data-number="6"></td>
                <td class="center-align" data-section="صندوق إعانة العجز و الوفاة" data-value="true" data-number="7"></td>
                <td class="center-align" data-section="صندوق إعانة العجز و الوفاة" data-value="true" data-number="8"></td>
                <td class="center-align" data-section="صندوق إعانة العجز و الوفاة" data-final="true"></td>
            </tr>
        </tbody>
    </table>

    <!-- Final Table -->
    <table style="font-size: 10px; margin-bottom: 20px;">
        <thead>
            <tr>
                <th class="table-header">حساب توفير</th>
                <th class="table-header" data-section="خزانة التكافل الصحي" data-number="1"></th>
                <th class="table-header" data-section="خزانة التكافل الصحي" data-number="2"></th>
                <th class="table-header" data-section="خزانة التكافل الصحي" data-number="3"></th>
                <th class="table-header">النهائي</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="center-align"></td>
                <td class="center-align" data-section="خزانة التكافل الصحي" data-value="true" data-number="1"></td>
                <td class="center-align" data-section="خزانة التكافل الصحي" data-value="true" data-number="2"></td>
                <td class="center-align" data-section="خزانة التكافل الصحي" data-value="true" data-number="3"></td>
                <td class="center-align" data-section="خزانة التكافل الصحي" data-final="true"></td>
            </tr>
        </tbody>
    </table>

    <!-- Final Signature -->
    <div class="signature">
        <div>توقيع الموظف: {{employee_name}}</div>
    </div>

    <!-- Contact Information -->
    <div class="contact-info">
        <div>
            E-MAIL: assphsyr@scs-net.org<br>
            Damascus-P.O.Box:13367
        </div>
        <div>
            TEL. :2222829 - 2224256<br>
            FAX :009631112234604
        </div>
    </div>
</body>

</html>